<% include header %>
<% include nav %>

<div class="container">
  <div class="jumbotron center">
    <h1>Polls</h1>
  </div>
  <div class="row">
    <div ng-controller="getPollsController">
      <div class=" col-md-6 col-md-offset-3 well center" ng-repeat="poll in polls">
        {{ poll.pollName }}
      </div>
    </div>
  </div>
</div>

<% include footer %>
