<% include header %>
<% include nav %>

<div class="container">
  <div class="jumbotron center">
    <h1>Dashboard</h1>
  </div>
  <div class="row">
    <% include pollLinks %>
    <div class="row">
      <div class="col-md-5 col-md-offset-3">

      </div>
    </div>
  </div>
</div>

<% include footer %>
