<div class="btn-group col-md-6 col-md-offset-5" ng-controller="pollsController" role="group">
  <a class="btn btn-primary" ng-href="{{url[0]}}">New Poll</a>
  <a class="btn btn-default secondary" ng-href="{{url[1]}}">My Polls</a>
</div>
